.top-bar {
  @include content-padding-inline;

  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 16px;
    display: block;

    @include on-tablet {
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
