@mixin bold-text {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 100%;
}

@mixin on-tablet {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}

@mixin on-hover($property, $to-value) {
  transition: #{$property} $effect-duration;
  &:hover {
    #{$property}: $to-value;
  }
}
